<div class="tweet-button">
  <%= link_to 'Tweet',
    'https://twitter.com/share',
    class: 'twitter-share-button',
    data: {
      related: 'mundodastrevas',
      lang: I18n.locale,
      size: 'medium',
      count: 'horizontal'
    } %>
</div>

<div class="facebook-like-button">
  <%= content_tag :div,
    '',
    class: 'fb-share-button',
    data: {
      type: 'button_count'
    } %>
</div>
