<% content_for :page_title, t('.title') %>

<h2><%= t '.title' %></h2>

<%= render 'form', submit: t('.submit') %>

<%= link_to t('.destroy'), admin_page_path(@page), class: 'btn', method: :delete %>
