<% content_for :page_title, t('.title') %>

<h1><%= t '.title' %></h1>

<% @forums.each do |forum| %>
  <div class="card mb-3">
    <div class="card-block">
      <h3 class="card-title"><%= link_to forum, forum %></h3>
      <p class="card-text"><%= simple_text forum.description %></p>
    </div>
  </div>
<% end %>
