<% content_for :page_title, @forum %>
<% content_for :page_description, strip_tags(@forum.description) %>

<h1><%= @forum %></h1>

<div class="forum-description">
  <%= simple_text @forum.description %>
</div>

<%= render 'topics/index', topics: @topics, forum: @forum %>

<%= paginate @topics %>
