<section class="panel panel-default forum-panel">
  <div class="panel-heading">
    <h1 class="panel-title"><%= t '.title' %></h1>
  </div>

  <div class="list-group">
    <% topics.each do |topic| %>
      <%= link_to [topic.forum, topic], class: 'list-group-item' do %>
        <h2 class="list-group-item-heading">
          <%= topic %>
        </h2>

        <p class="list-group-item-text">
          <%= topic.forum %>
        </p>
      <% end %>
    <% end %>
  </div>
</section>
