<p>
  <%= t "#{activity.key}_html",
    scope: 'activities',
    user: link_to(activity.user),
    topic: link_to(
      activity.subject.topic,
      forum_topic_path(activity.subject.topic.forum, activity.subject.topic)
    )
  %>
</p>

<p class="text-muted">
  <%= truncate_rich activity.subject.content, length: 100 %>
</p>
