<h1>Olá, <%= @user %>!</h1>

<p>
  <%= link_to @notifiable.user, notification_url(@notification) %>
  começou a seguir você!
</p>

<p>
  Para seguir de volta, vá até o perfil de <%= @notifiable.user %>
  <%= link_to 'clicando aqui', notification_url(@notification) %>.
</p>
