<div class="page-top">
  <div class="container">
    <h1><%= link_to 'Mundo das Trevas', raddar.root_path %></h1>

    <p class="lead">
      A comunidade brasileira de storytelling
    </p>
  </div>
</div>
