<div class="page-header zine-header">
  <h1><%= @zine %></h1>

  <% if @zine.universe %>
    <span class="meta-universe">
      <%= t '.universe_html', universe: link_to(@zine.universe, universe_path(@zine.universe)) %>
    </span>
  <% end %>
</div>
