<% content_for :page_title, t('.title') %>

<h1><%= t '.title' %></h1>

<%= render 'form', submit: t('.submit') %>

<%= link_to t('.destroy'),
  @zine,
  method: :delete,
  class: 'btn btn-sm btn-secondary',
  data: { confirm: t('.confirm') } if policy(@zine).destroy? %>
