<h1>Novo contato de um visitante</h1>

<dl>
  <dt>Nome</dt>
  <dd><%= @contact.name %></dd>

  <dt>Email</dt>
  <dd><%= mail_to @contact.email %></dd>

  <dt>Mensagem</dt>
  <dd><%= simple_text @contact.message %></dd>
</dl>
