<p>
  <%= t "#{activity.key}_html",
    scope: 'activities',
    user: link_to(activity.user),
    account: link_to(
      activity.subject.provider.titleize,
      activity.subject.url,
      target: '_blank'
    )
  %>
</p>
