<p>
  <%= t "#{activity.key}_html",
    scope: 'activities',
    user: link_to(activity.user),
    zine: link_to(
      activity.subject,
      main_app.zine_path(activity.subject)
    )
  %>
</p>

<%= render 'zines/panel', zine: activity.subject %>
