<h1>
  <%= link_to highlight(searchable.to_s, params[:query]), url_for([searchable.zine, searchable]) %>

  <small>
    <%= searchable.zine %>
  </small>
</h1>

<p>
  <%= highlight truncate_rich(searchable.content), params[:query] %>
</p>
