<section class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= t '.title', zine: zine %>
    </h1>
  </div>

  <div class="list-group">
    <% zine.posts.order('created_at DESC').each do |post| %>
      <%= link_to post, zine_post_path(zine, post), class: 'list-group-item' %>
    <% end %>
  </div>
</section>
