<% content_for :page_title, t('.title') %>

<h1><%= t '.title' %></h1>

<%= render 'form', submit: t('.submit') %>

<div class="row">
  <div class="col-md-8 clearfix">
    <%= link_to t('.destroy'),
      [@zine, @post],
      method: :delete,
      class: 'btn btn-secondary pull-xs-right btn-sm',
      data: { confirm: t('.confirm') } if policy(@post).destroy? %>
  </div>
</div>
