.new-comment h3 {
  margin-top: 0;
  color: #555;
}

.comment, .new-comment {
  border-top: 1px solid $default-border-color;
  margin: 40px 0 20px;
  padding-top: 20px;

  .user {
    text-align: center;

    a {
      font-weight: bold;
      display: block;
    }

    img {
      margin-bottom: 10px;
    }
  }

  .content {
    min-height: 80px;
  }

  .meta {
    @include clearfix;

    .actions {
      float: right;
      text-align: right;
    }

    .review-form {
      display: inline;
      margin-right: $spacer / 2;
    }

    time {
      font-size: .7rem;
      color: #999;
    }
  }
}
