#sticky-footer {
  background-color: $footer-color;
  background-image: image-url('footer.jpg');
  background-position: left bottom;
  background-repeat: repeat-x;
  height: 590px;
  padding-top: 40px;

  h1 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    font-size: 15px;
  }

  .legal {
    text-align: center;
    margin-top: 70px;
  }
}
