#sticky-footer {
  background-color: #DCDBDB;
  background-image: image-url('footer.jpg');
  background-position: left bottom;
  background-repeat: repeat-x;
  min-height: 370px;

  h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    font-size: 17px;
  }

  .legal {
    text-align: center;
    margin-top: 70px;
  }
}
