.forum-post {
  margin-bottom: 20px;
  background-color: $gray-lighter;
  padding: 10px 0;

  .user {
    text-align: center;
    border-right: 1px solid #f0f0f0;

    a {
      font-size: 15px;
      font-weight: bold;
      display: block;
    }

    img {
      width: 120px;
      margin-bottom: 10px;
    }
  }

  .content {
    min-height: 120px;
  }

  .meta {
    border-top: 1px solid #f0f0f0;
    padding: 10px 10px 0 0;

    .actions {
      float: right;
    }

    time {
      font-size: .7rem;
    }
  }
}
