.faux-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  width: 100%;
  height: 160px;
  border-bottom: none;
}

.featured-zine {
  display: block;
  margin-bottom: 20px;

  background-color: #222;
  transition: all .3s ease-in-out;

  .caption {
    height: 90px;
    padding: 10px;
    overflow: hidden;

    h1 {
      color: #fff;
      margin: 0;
      font-size: 20px;
      font-weight: 100;
      line-height: 1.2;
    }
  }

  &:hover {
    text-decoration: none;
    background-color: #000;
    box-shadow: 0 0 10px #333;
  }

  .zine-name {
    font-size: 11px;
    color: #999;
    text-transform: capitalize;
    font-weight: bold;
  }
}

.forum-home-card .card-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: $gray-dark;
  font-family: $headings-font-family;

  a {
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 22px;
  }
}
