.mundodastrevas-sidebar {
  section {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 16px;
  }

  .new-users {
    img {
      margin: 0 3px 7px 0;
    }
  }
}

#content-wrapper {
  margin: 0 auto -220px;
  padding: 0 0 220px;
}
