html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body { padding-top: 50px; }

/* Wrapper for page content to push down footer */
#content-wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -220px;
  /* Pad bottom by footer height */
  padding: 0 0 220px;
}

/* Set the fixed height of the footer here */
#sticky-footer {
  background-color: $footer-color;
  background-image: image-url('footer.jpg');
  background-position: left bottom;
  background-repeat: repeat-x;
  height: 590px;
  padding: 40px 0 20px;

  h1 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    font-size: 15px;
  }

  .legal {
    text-align: center;
    margin-top: 70px;
  }
}

.navbar {
  margin-bottom: 0;
}

#main-container {
  margin-top: 30px;
}

#content-wrapper > .container {
  margin-bottom: 60px;
}

.navbar-form .form-control {
  background-color: $gray-dark;
  border-color: $gray;

  &:focus {
    background-color: $body-bg;
  }
}

.navbar-brand {
  font-weight: 500;
}
