html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#content-wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -220px;
  /* Pad bottom by footer height */
  padding: 0 0 220px;
}

/* Set the fixed height of the footer here */
.page-footer {
  background-color: $footer-color;
  background-image: image-url('footer.jpg');
  background-position: left bottom;
  background-repeat: repeat-x;
  height: 590px;
  padding: 40px 0 20px;

  h1 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    font-size: 15px;
  }

  .legal {
    text-align: center;
    margin-top: 70px;
  }
}

.page-footer a {
  font-size: 15px;
}

.page-footer .social-links {
  display: flex;
  justify-content: space-around;

  a {
    font-size: 2rem;
  }
}

#content-wrapper > .container {
  padding-top: $spacer;
  margin-bottom: 60px;
}

.layout-top {
  margin-bottom: $spacer;
}

.navbar .nav-img {
  padding: 0;

  img {
    width: 40px;
    border-radius: 20px;
  }
}

.navbar .nav-item .btn {
  border-radius: 2rem;
}

.navbar-brand {
  font-family: $headings-font-family;
  font-size: 27px;
  padding: 0;
  text-shadow: 1px 1px 10px #d0d0d0;
  transition: all .5s ease-in-out;

  &:hover {
    text-shadow: 1px 1px 30px #ffffff;
  }
}
