.search-result {
  margin-bottom: 20px;

  mark {
    background: none;
    color: inherit;
    font-weight: bold;
  }

  .searchable-type {
    text-transform: uppercase;
    font-style: italic;
  }

  img {
    width: 30px;
    border-radius: 8px;
  }

  h1 {
    font-size: 20px;
    margin: 0 0 5px;
  }
}
