a {
  color: #09297c;

  &:hover,
  &:focus {
    color: #2b55c2;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #444;
}

.btn-primary {
  background-color: #264288;
  border-color: #09297c
}
