.zine-author .card-block {
  text-align: center;

  .bio {
    font-style: italic;
  }
}

.zine-description {
  @include clearfix;
  padding-bottom: 20px;
  border-bottom: 1px solid $default-border-color;
  margin-bottom: 30px;
}

.zines-invite {
  background-color: #eee;
  font-size: 1.4rem;
  text-align: center;
  padding: $spacer;
  margin-bottom: $spacer;
}

.meta-universe {
  font-family: serif;
  font-style: italic;
  font-size: 1.1rem;
  color: $gray-light;
}

.zine-image {
  display: block;
  margin-bottom: $spacer;
  width: 100%;
}
