<h1>
  <%= link_to highlight(searchable.to_s, params[:query]), main_app.url_for([searchable.zine, searchable]) %>

  <small>
    <%= searchable.zine %>
  </small>
</h1>

<p>
  <%= highlight(
    truncate(
      sanitize(searchable.content, tags: []),
      length: 300,
      separator: ' '
    ),
    params[:query]) %>
</p>
