<% if user_signed_in? %>
  <li class="dropdown">
    <%= link_to notifications_path, id: 'notifications-menu', data: { toggle: 'dropdown', target: '#' } do %>
      <span class="glyphicon glyphicon-flag"></span>

      <% if unread_notifications_count(current_user) > 0 %>
        <span class="badge"><%= unread_notifications_count(current_user) %></span>
      <% end %>
    <% end %>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% last_notifications(current_user).each do |notification| %>
        <li><%= link_to_notification notification %></li>
        <li class="divider"></li>
      <% end %>

      <li><%= link_to t('notifications.see_all'), notifications_path %></li>
    </ul>
  </li>
<% end %>
