<%= form_tag(search_path, class: 'navbar-form navbar-left', role: 'search', method: :get) do %>
  <div class="form-group">
    <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: t('searches.show.placeholder') %>
  </div>
<% end %>
