<p>
  Olá, <%= @resource %>!
</p>

<p>
  Você pode confirmar o email da sua conta através do link abaixo:
</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
